// COLORS
$primary-color: #02b084;
$secondary-color: #7b99c0;

$white-color: rgb(0, 0, 0);

$dark-grey: #000000;
$light-grey: #f6f0f0;

$dark-blue-text: #dbd8ec; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
